{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
project/create
{% endblock %}

{% block dash_link %} <a href="">Project</a>{% endblock dash_link %}
{% block dash_active %}Create Project{% endblock dash_active %} 


{% block main_content %}
<form action="" method="post">
  <div class="row g-1 g-md-2 g-lg-5">
      {% csrf_token %}
      <div class="col-md-6 me-3 bg-white rounded rounded-3 p-3 mb-5 me-1">
        <div class="card-header">
          <h5 class="">Create Project</h5>
          <hr />
        </div>
        <div class="mb-3">{{ form.team|as_crispy_field }}</div>
        <div class="mb-3">{{ form.name|as_crispy_field }}</div>
        <div class="mb-3">{{ form.client_company|as_crispy_field }}</div>
        <div class="mb-3">{{ form.description|as_crispy_field }}</div>
        <div class="mb-3">{{ form.status|as_crispy_field }}</div>
        <div class="mb-3">{{ form.priority|as_crispy_field }}</div>
        <div class="mb-3">{{ form.active|as_crispy_field }}</div>
        <div class="mb-3">{{ form.start_date|as_crispy_field }}</div>
        <div class="mb-3">{{ form.due_date|as_crispy_field }}</div>
        <button type="submit" class="btn btn-outline-dark px-4 my-4 ms-auto">Create Project</button>
      </div>
      <div class="col-md-5 bg-white rounded rounded-3 p-3 mb-5" style="height: 450px !important;">
        <div class="card-header">
          <h5>Budget</h5>
          <hr />
        </div>
        <div class="mb-3">{{ form.total_amount|as_crispy_field }}</div>
        <div class="mb-3">{{ form.amount_spent|as_crispy_field }}</div>
        <div class="mb-3">{{ form.estimated_duration|as_crispy_field }}</div>
      </div>
    </div>
</form>
{% endblock %}
