{% extends 'base.html' %}
{% load static %}
{% block title %}
  cms
{% endblock %}
{% block main_content %}
{% comment %}  {% endcomment %}

          <div class="row">
            <!-- [Team] start -->
            <div class="col-xxl-3 col-md-6">
              <div class="card stretch stretch-full">
                <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between mb-4">
                    <div class="d-flex gap-4 align-items-center">
                      <div class="avatar-text avatar-lg bg-gray-200">
                        <i class="feather-dollar-sign"></i>
                      </div>
                      <div>
                        <div class="fs-4 fw-bold text-dark">
                          <span class="counter">{{projects.count}}</span>/<span class="counter">{{teams}}</span>
                        </div>
                        <h3 class="fs-13 fw-semibold text-truncate-1-line">Team Work On Projects</h3>
                      </div>
                    </div>
                    <a href="javascript:void(0);" class=""><i class="feather-more-vertical"></i></a>
                  </div>
                  <div class="pt-4">
                    <div class="d-flex align-items-center justify-content-between">
                      <a href="javascript:void(0);" class="fs-12 fw-medium text-muted text-truncate-1-line">Team Capacity</a>
                      <div class="w-100 text-end">
                        <span class="fs-12 text-dark">Works</span>
                        <span class="fs-11 text-muted">({{team_percentage|floatformat:2}}%)</span>
                      </div>
                    </div>
                    <div class="progress mt-2 ht-3">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: {{team_percentage}}%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- [Converted Leads] start -->
            <div class="col-xxl-3 col-md-6">
              <div class="card stretch stretch-full">
                <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between mb-4">
                    <div class="d-flex gap-4 align-items-center">
                      <div class="avatar-text avatar-lg bg-gray-200">
                        <i class="feather-cast"></i>
                      </div>
                      <div>
                        <div class="fs-4 fw-bold text-dark">
                          <span class="counter">{{task_in_progress}}</span>/<span class="counter">{{tasks_count}}</span>
                        </div>
                        <h3 class="fs-13 fw-semibold text-truncate-1-line">Task on Progress</h3>
                      </div>
                    </div>
                    <a href="javascript:void(0);" class=""><i class="feather-more-vertical"></i></a>
                  </div>
                  <div class="pt-4">
                    <div class="d-flex align-items-center justify-content-between">
                      <a href="javascript:void(0);" class="fs-12 fw-medium text-muted text-truncate-1-line">Task Completed</a>
                      <div class="w-100 text-end">
                        <span class="fs-12 text-dark">{{task_completed}} Completed</span>
                        <span class="fs-11 text-muted">({{task_percentage|floatformat:2}}%)</span>
                      </div>
                    </div>
                    <div class="progress mt-2 ht-3">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: {{task_percentage}}%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- [Converted Leads] end -->
            <!-- [Projects In Progress] start -->
            <div class="col-xxl-3 col-md-6">
              <div class="card stretch stretch-full">
                <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between mb-4">
                    <div class="d-flex gap-4 align-items-center">
                      <div class="avatar-text avatar-lg bg-gray-200">
                        <i class="feather-briefcase"></i>
                      </div>
                      <div>
                        <div class="fs-4 fw-bold text-dark">
                          <span class="counter"> {% if project_in_progress %}{{project_in_progress}}</span>/<span class="counter">{{projects_counts.count}}{% else %}0{% endif %}</span>
                        </div>
                        <h3 class="fs-13 fw-semibold text-truncate-1-line">Projects In Progress</h3>
                      </div>
                    </div>
                    <a href="javascript:void(0);" class=""><i class="feather-more-vertical"></i></a>
                  </div>
                  <div class="pt-4">
                    <div class="d-flex align-items-center justify-content-between">
                      <a href="javascript:void(0);" class="fs-12 fw-medium text-muted text-truncate-1-line">Projects In Progress</a>
                      <div class="w-100 text-end">
                        <span class="fs-12 text-dark">{{projects_completed}} Completed</span>
                        <span class="fs-11 text-muted">({{project_percentage|floatformat:2}}%)</span>
                      </div>
                    </div>
                    <div class="progress mt-2 ht-3">
                      <div class="progress-bar bg-success" role="progressbar" style="width: {{project_percentage}}%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- [Projects In Progress] end -->
            <!-- [Conversion Rate] start -->
            <div class="col-xxl-3 col-md-6">
              <div class="card stretch stretch-full">
                <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between mb-4">
                    <div class="d-flex gap-4 align-items-center">
                      <div class="avatar-text avatar-lg bg-gray-200">
                        <i class="feather-activity"></i>
                      </div>
                      <div>
                        <div class="fs-4 fw-bold text-dark">
                          <span class="counter">46.59</span>%
                        </div>
                        <h3 class="fs-13 fw-semibold text-truncate-1-line">Conversion Rate</h3>
                      </div>
                    </div>
                    <a href="javascript:void(0);" class=""><i class="feather-more-vertical"></i></a>
                  </div>
                  <div class="pt-4">
                    <div class="d-flex align-items-center justify-content-between">
                      <a href="javascript:void(0);" class="fs-12 fw-medium text-muted text-truncate-1-line">Conversion Rate</a>
                      <div class="w-100 text-end">
                        <span class="fs-12 text-dark">$2,254</span>
                        <span class="fs-11 text-muted">(46%)</span>
                      </div>
                    </div>
                    <div class="progress mt-2 ht-3">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 46%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- [Conversion Rate] end -->
          </div>


{% comment %}  {% endcomment %}
  <div class="row my-2">
    <div class="col-md-8">
      <h5>Projects Nearest Due</h5>
      <div class="card border-0 p-4">
        <table class="table table-hover">
          <thead>
            <th>Order</th>
            <th>Name</th>
            <th>Team</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Priority</th>
          </thead>
          <tbody>
            {% for pro in projects %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ pro.name }}</td>
                <td>{{ pro.team.name}}</td>
                <td> {% if pro.get_due_date == 0 %} <span class="text-danger fw-bold">Today</span> {% else %} {{ pro.get_due_date }} Days Remain{% endif %} </td>
                <td>{{ pro.status }}</td>
                <td class="text-{{ pro.get_priority_color }}">{{ pro.priority }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{% url "projects:pro_list" %}" class="my-2 btn btn-outline-dark mb-3 ms-auto" style="width: 150px;">View All Project</a>
      </div>
    </div>
    <div class="col-md-4">
      <h5>Progress Of Project</h5>
      {% if projects %}
      <div class="card stretch-full">
        <div class="p-3">
          <div class="w-100">
            {% for pro in projects %}
              <div class="d-flex align-items-center justify-content-between">
                <a href="javascript:void(0);" class="fs-12 fw-medium text-muted"><span class="text-truncate-1-line">{{ pro.name }}<i class="feather-link-2 fs-10 ms-1"></i></span></a>
                <div class="ms-3">
                  <span class="fs-12 text-muted text-truncate-1-line">
                    {{ pro.progress }}/100 Tasks{% if pro.progress == 100 %}
                      Completed
                    {% elif pro.progress == 50 %}
                      In Progressing
                    {% else %}
                      Working On It Soon
                    {% endif %}<span class="fs-11 text-muted">({{ pro.progress }}%)</span>
                  </span>
                </div>
              </div>
              <div class="progress mt-2 ht-5">
                <div class="progress-bar bg-{% if pro.progress == 100 %}success{% else %}primary{% endif %}"role="progressbar" style="width: {{ pro.progress }}%"></div>
              </div>
              <br />
            {% endfor %}
          </div>
        </div>
      </div>
      {% else %}
        <div class="card stretch-full">
          <div class="p-3">
            <div class="w-100">
              <h5>There is No Progress O Project</h5>
            </div>
          </div>
        </div>
{% endif %}
    </div>
  </div>
  {% comment %}task here{% endcomment %}
  <div class="row my-2">
    <div class="col-md-8">
      <h5>Tasks Nearest Due</h5>
      <div class="card border-0 p-4">
        <table class="table table-hover">
          <thead>
            <th>Order</th>
            <th>Name</th>
            <th>Team</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Priority</th>
          </thead>
          <tbody>
            {% for task in tasks %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.project.team.name }}</td>
                <td>{% if task.get_due_date == 0 %} <span class="text-danger fw-bold">Today </span> {% else %}{{ task.get_due_date }} Days Remain{% endif %} </td>
                <td>{{ task.status }}</td>
                <td class="text-{{ task.get_priority_color }}">{{ task.priority }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{% url "tasks:task_list" %}" class="my-2 btn btn-outline-dark mb-3 ms-auto" style="width: 150px;">View All Tasks</a>
      </div>
    </div>
    <div class="col-md-4">
      <h5>Progress Of Tasks</h5>
      {% if tasks %}
      <div class="card stretch-full">
        <div class="p-3">
          <div class="w-100">
            {% for task in tasks %}
              <div class="d-flex align-items-center justify-content-between">
                <a href="javascript:void(0);" class="fs-12 fw-medium text-muted"><span class="text-truncate-1-line">{{ task.name }}<i class="feather-link-2 fs-10 ms-1"></i></span></a>
                <div class="ms-3">
                  <span class="fs-12 text-muted text-truncate-1-line">
                    {{ task.progress }}/100 Tasks{% if task.progress == 100 %}
                      Completed
                    {% elif task.progress == 50 %}
                      In Progressing
                    {% else %}
                      Working On It Soon
                    {% endif %}<span class="fs-11 text-muted">({{ task.progress }}%)</span>
                  </span>
                </div>
              </div>
              <div class="progress mt-2 ht-5">
                <div class="progress-bar bg-{% if task.progress == 100 %}success{% else %}primary{% endif %}"role="progressbar"style="width: {{ task.progress }}%"></div>
              </div>
              <br />
            {% endfor %}
          </div>
        </div>
      </div>
      {% else %}
            <div class="card stretch-full">
        <div class="p-3">
          <div class="w-100">
            <h5>There is No Progress On Tasks</h5>
          </div>
        </div>
            </div>
{% endif %}
    </div>
  </div>

  {% comment %}profile user{% endcomment %}
  <div class="row my-2">

    {% comment %} member user  {% endcomment %}
    {% if profiles.count > 0 %}
    <div class="col-md-4">
      <h5>Members ({{profiles.count}})</h5>
      <div class="card stretch stretch-full">
        <div class="card-body custom-card-action">
          {% for profile in profiles %}
          <div class="hstack justify-content-between border border-dashed rounded-3 p-3 mb-2">
            <div class="hstack gap-3">
              <div class="avatar-image">
                <img src="{% if profile.photo %}{{profile.get_profile_image}}{% else %}{% static "assets/images/default_user.jpg" %}{% endif %}" alt="photo" class="img-fluid" />
              </div>
              <div>
                <a href="javascript:void(0);">{{profile.user.username|title}}</a>
                <div class="fs-11 text-muted">Frontend Developer</div>
                <div class="fs-11 text-muted">{{profile.get_date_joined}}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <a href="{% url "accounts:profile_list" %}" class="card-footer fs-11 fw-bold text-uppercase text-center">View All Members</a>
      </div>
    </div>

    {% else %}

    <div class="col-md-4">
      <h5>Members ({{profiles.user.username}})</h5>
      <div class="card stretch stretch-full">
        <div class="card-body custom-card-action">
          <div class="hstack justify-content-between border border-dashed rounded-3 p-3 mb-2">
            <div class="hstack gap-3">
              <div class="avatar-image">
                <img src="{% if profile.photo %}{{profile.get_profile_image}}{% else %}{% static "assets/images/default_user.jpg" %}{% endif %}" alt="photo" class="img-fluid" />
              </div>
              <div>
                <a href="javascript:void(0);">{{profiles.user.username|title}}</a>
                <div class="fs-11 text-muted">Frontend Developer</div>
                <div class="fs-11 text-muted">{{profiles.get_date_joined}}</div>
              </div>
            </div>
          </div>
        </div>
        <a href="{{profiles.get_absolute_url}}" class="card-footer fs-11 fw-bold text-uppercase text-center">View Profile</a>
      </div>
    </div>
    




    {% endif %}





    {% comment %} notifications  {% endcomment %}
        <div class="col-md-4">
      <h5>Notification ({{notifications_count}})</h5>
      <div class="card stretch stretch-full">
        <div class="card-body custom-card-action">
          {% if notifications_un %}
          {% for notification in notifications_un %}
          <div class="hstack justify-content-between border border-dashed rounded-3 p-3 mb-2">
            <div class="hstack gap-3">
              <div class="avatar-image">
                <img src="{{notification.actor.profile.get_profile_image}}" alt="photo" class="img-fluid" />
              </div>
              <div>
                <a href="javascript:void(0);">{{notification.verb|title}}</a>
                <div class="fs-11 text-muted">{{notification.date_created_format}}</div>
              </div>
            </div>
          </div>
           <div class="text-end me-3 mb-2">
              {% if notification.read %}
                <small class="fs-11 text-success text-end ms-auto" data-bs-toggle="tooltip" title="It's Ok">
                  <i class="feather-check"></i>
                  <span>Read</span>
                </small>
              {% else %}
              <form action="{% url "notifications:notification_mark" notification.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="fs-11 text-danger text-end ms-auto border-0 bg-transparent" data-bs-toggle="tooltip" title="Make as Read">
                  <i class="feather-check"></i>
                  <span>Make as Read</span>
                </button>
                </form>
              {% endif %}
            </div>
          {% endfor %}
          {% endif %}
        </div>
        <a href="{% url "notifications:notification_list" %}" class="card-footer fs-11 fw-bold text-uppercase text-center">View All Notifications</a>
      </div>
    </div>
  </div>
{% endblock %}
