<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <meta name="author" content="flexilecode" />

    <title>
      {% block title %}
      {% endblock %}
    </title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %} " />

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %} " />

    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/vendors.min.css' %} " />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/daterangepicker.min.css' %} " />

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/theme.min.css' %} " />
  </head>

  <body>
    <!-- ! ================================================================ ! -->
    <!-- ! [Start] Navigation Menu ! -->
    <!-- ! ================================================================ ! -->
    <nav class="nxl-navigation">
      <div class="navbar-wrapper">
        <div class="m-header">
          <a href="{% url "accounts:dashboard" %}" class="b-brand">
            <!-- ======== change your logo hear ============ -->
            <img src="{% static "assets/images/logo-full.png" %} " alt="img" class="logo logo-lg" />
            <img src="{% static "assets/images/logo-abbr.png" %} " alt="img" class="logo logo-sm" />
          </a>
        </div>
        <div class="navbar-content">
          <ul class="nxl-navbar">
            <li class="nxl-item nxl-caption">
              <label>Navigation</label>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-airplay"></i></span>
                <span class="nxl-mtext">Dashboards</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a href="{% url "accounts:dashboard" %}" class="nxl-link" href="index.html">CRM</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="analytics.html">Analytics</a>
                </li>
              </ul>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-cast"></i></span>
                <span class="nxl-mtext">Reports</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="reports-sales.html">Sales Report</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="reports-leads.html">Leads Report</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="reports-project.html">Project Report</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="reports-timesheets.html">Timesheets Report</a>
                </li>
              </ul>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-send"></i></span>
                <span class="nxl-mtext">Applications</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="apps-chat.html">Chat</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="apps-email.html">Email</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="apps-tasks.html">Tasks</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="apps-notes.html">Notes</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="apps-storage.html">Storage</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="apps-calendar.html">Calendar</a>
                </li>
              </ul>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-at-sign"></i></span>
                <span class="nxl-mtext">Proposal</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="proposal.html">Proposal</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="proposal-view.html">Proposal View</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="proposal-edit.html">Proposal Edit</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="proposal-create.html">Proposal Create</a>
                </li>
              </ul>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-dollar-sign"></i></span>
                <span class="nxl-mtext">Payment</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="payment.html">Payment</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="invoice-view.html">Invoice View</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="invoice-create.html">Invoice Create</a>
                </li>
              </ul>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-users"></i></span>
                <span class="nxl-mtext">Customers</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="customers.html">Customers</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="customers-view.html">Customers View</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="customers-create.html">Customers Create</a>
                </li>
              </ul>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-alert-circle"></i></span>
                <span class="nxl-mtext">Leads</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="leads.html">Leads</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="leads-view.html">Leads View</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="leads-create.html">Leads Create</a>
                </li>
              </ul>
            </li>
            {% comment %} projects {% endcomment %}
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-briefcase"></i></span>
                <span class="nxl-mtext">Projects</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="{% url "projects:pro_list" %}">Projects</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="{% url "projects:pro_due_list" %}">Projects Near Due</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="{% url "projects:pro_index" %}">Projects Create</a>
                </li>
              </ul>
            </li>
            {% comment %} tasks {% endcomment %}
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-briefcase"></i></span>
                <span class="nxl-mtext">Tasks</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="{% url "tasks:task_list" %}">Tasks</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="{% url "tasks:task_due_list" %}">Tasks Near Due</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="{% url "tasks:task_create" %}">Task Create</a>
                </li>
              </ul>
            </li>
            
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-settings"></i></span>
                <span class="nxl-mtext">Settings</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="settings-general.html">General</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="settings-seo.html">SEO</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="settings-tags.html">Tags</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="settings-email.html">Email</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="settings-tasks.html">Tasks</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="settings-leads.html">Leads</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="settings-support.html">Support</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="settings-finance.html">Finance</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="settings-gateways.html">Gateways</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="settings-customers.html">Customers</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="settings-localization.html">Localization</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="settings-recaptcha.html">reCAPTCHA</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="settings-miscellaneous.html">Miscellaneous</a>
                </li>
              </ul>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-power"></i></span>
                <span class="nxl-mtext">Authentication</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item nxl-hasmenu">
                  <a href="javascript:void(0);" class="nxl-link"><span class="nxl-mtext">Login</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span></a>
                  <ul class="nxl-submenu">
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-login-cover.html">Cover</a>
                    </li>
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-login-minimal.html">Minimal</a>
                    </li>
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-login-creative.html">Creative</a>
                    </li>
                  </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                  <a href="javascript:void(0);" class="nxl-link"><span class="nxl-mtext">Register</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span></a>
                  <ul class="nxl-submenu">
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-register-cover.html">Cover</a>
                    </li>
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-register-minimal.html">Minimal</a>
                    </li>
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-register-creative.html">Creative</a>
                    </li>
                  </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                  <a href="javascript:void(0);" class="nxl-link"><span class="nxl-mtext">Error-404</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span></a>
                  <ul class="nxl-submenu">
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-404-cover.html">Cover</a>
                    </li>
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-404-minimal.html">Minimal</a>
                    </li>
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-404-creative.html">Creative</a>
                    </li>
                  </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                  <a href="javascript:void(0);" class="nxl-link"><span class="nxl-mtext">Reset Pass</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span></a>
                  <ul class="nxl-submenu">
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-reset-cover.html">Cover</a>
                    </li>
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-reset-minimal.html">Minimal</a>
                    </li>
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-reset-creative.html">Creative</a>
                    </li>
                  </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                  <a href="javascript:void(0);" class="nxl-link"><span class="nxl-mtext">Verify OTP</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span></a>
                  <ul class="nxl-submenu">
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-verify-cover.html">Cover</a>
                    </li>
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-verify-minimal.html">Minimal</a>
                    </li>
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-verify-creative.html">Creative</a>
                    </li>
                  </ul>
                </li>
                <li class="nxl-item nxl-hasmenu">
                  <a href="javascript:void(0);" class="nxl-link"><span class="nxl-mtext">Maintenance</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span></a>
                  <ul class="nxl-submenu">
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-maintenance-cover.html">Cover</a>
                    </li>
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-maintenance-minimal.html">Minimal</a>
                    </li>
                    <li class="nxl-item">
                      <a class="nxl-link" href="./auth-maintenance-creative.html">Creative</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nxl-item nxl-hasmenu">
              <a href="javascript:void(0);" class="nxl-link">
                <span class="nxl-micon"><i class="feather-life-buoy"></i></span>
                <span class="nxl-mtext">Help Center</span><span class="nxl-arrow"><i class="feather-chevron-right"></i></span>
              </a>
              <ul class="nxl-submenu">
                <li class="nxl-item">
                  <a class="nxl-link" href="#!">Support</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="help-knowledgebase.html">KnowledgeBase</a>
                </li>
                <li class="nxl-item">
                  <a class="nxl-link" href="/docs/documentations">Documentations</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- ! ================================================================ ! -->
    <!-- ! [End] Navigation Manu ! -->
    <!-- ! ================================================================ ! -->
    <!-- ! ================================================================ ! -->
    <!-- ! [Start] Header ! -->
    <!-- ! ================================================================ ! -->
    <header class="nxl-header">
      <div class="header-wrapper">
        <!-- ! [Start] Header Left ! -->
        <div class="header-left d-flex align-items-center gap-4">
          <!-- ! [Start] nxl-head-mobile-toggler ! -->
          <a href="javascript:void(0);" class="nxl-head-mobile-toggler" id="mobile-collapse">
            <div class="hamburger hamburger--arrowturn">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
          </a>
          <!-- ! [Start] nxl-head-mobile-toggler ! -->
          <!-- ! [Start] nxl-navigation-toggle ! -->
          <div class="nxl-navigation-toggle">
            <a href="javascript:void(0);" id="menu-mini-button"><i class="feather-align-left"></i></a>
            <a href="javascript:void(0);" id="menu-expend-button" style="display: none"><i class="feather-arrow-right"></i></a>
          </div>
          <!-- ! [End] nxl-navigation-toggle ! -->
          <!-- ! [Start] nxl-lavel-mega-menu-toggle ! -->
          <div class="nxl-lavel-mega-menu-toggle d-flex d-lg-none">
            <a href="javascript:void(0);" id="nxl-lavel-mega-menu-open"><i class="feather-align-left"></i></a>
          </div>
          <!-- ! [End] nxl-lavel-mega-menu-toggle ! -->
          <!-- ! [Start] nxl-lavel-mega-menu ! -->
          <div class="nxl-drp-link nxl-lavel-mega-menu">
            <div class="nxl-lavel-mega-menu-toggle d-flex d-lg-none">
              <a href="javascript:void(0)" id="nxl-lavel-mega-menu-hide">
                <i class="feather-arrow-left me-2"></i>
                <span>Back</span>
              </a>
            </div>
            <!-- ! [Start] nxl-lavel-mega-menu-wrapper ! -->

            <!-- ! [End] nxl-lavel-mega-menu-wrapper ! -->
          </div>
          <!-- ! [End] nxl-lavel-mega-menu ! -->
        </div>
        <!-- ! [End] Header Left ! -->
        <!-- ! [Start] Header Right ! -->
        <div class="header-right ms-auto">
          <div class="d-flex align-items-center">
            <div class="dropdown nxl-h-item nxl-header-search">
              <a href="javascript:void(0);" class="nxl-head-link me-0" data-bs-toggle="dropdown" data-bs-auto-close="outside"><i class="feather-search"></i></a>
              <div class="dropdown-menu dropdown-menu-end nxl-h-dropdown nxl-search-dropdown">
                <div class="input-group search-form">
                  <span class="input-group-text"><i class="feather-search fs-6 text-muted"></i></span>
                  <input type="text" class="form-control search-input-field" placeholder="Search...." />
                  <span class="input-group-text"><button type="button" class="btn-close"></button></span>
                </div>
                <div class="dropdown-divider mt-0"></div>
                <div class="search-items-wrapper">
                  <div class="file-result px-4 py-2">
                    <h4 class="fs-13 fw-normal text-gray-600 mb-3">Files <span class="badge small bg-gray-200 rounded ms-1 text-dark">3</span></h4>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                      <div class="d-flex align-items-center gap-3">
                        <div class="avatar-image bg-gray-200 rounded">
                          <img src="{% static "assets/images/file-icons/css.png" %} " alt="" class="img-fluid" />
                        </div>
                        <div>
                          <a href="javascript:void(0);" class="font-body fw-bold d-block mb-1">Project Style CSS</a>
                          <p class="fs-11 text-muted mb-0">05.74 MB</p>
                        </div>
                      </div>
                      <a href="javascript:void(0);" class="avatar-text avatar-md"><i class="feather-download"></i></a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                      <div class="d-flex align-items-center gap-3">
                        <div class="avatar-image bg-gray-200 rounded">
                          <img src="{% static "assets/images/file-icons/zip.png" %} " alt="" class="img-fluid" />
                        </div>
                        <div>
                          <a href="javascript:void(0);" class="font-body fw-bold d-block mb-1">Dashboard Project Zip</a>
                          <p class="fs-11 text-muted mb-0">46.83 MB</p>
                        </div>
                      </div>
                      <a href="javascript:void(0);" class="avatar-text avatar-md"><i class="feather-download"></i></a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-0">
                      <div class="d-flex align-items-center gap-3">
                        <div class="avatar-image bg-gray-200 rounded">
                          <img src="{% static "assets/images/file-icons/pdf.png" %} " alt="" class="img-fluid" />
                        </div>
                        <div>
                          <a href="javascript:void(0);" class="font-body fw-bold d-block mb-1">Project Document PDF</a>
                          <p class="fs-11 text-muted mb-0">12.85 MB</p>
                        </div>
                      </div>
                      <a href="javascript:void(0);" class="avatar-text avatar-md"><i class="feather-download"></i></a>
                    </div>
                  </div>
                  <div class="dropdown-divider mt-3 mb-0"></div>
                  <a href="javascript:void(0);" class="p-3 fs-10 fw-bold text-uppercase text-center d-block">Loar More</a>
                </div>
              </div>
            </div>
            <div class="dropdown nxl-h-item nxl-header-language d-none d-sm-flex">
              <a href="javascript:void(0);" class="nxl-head-link me-0 nxl-language-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><img src="{% static 'assets/vendors/img/flags/4x3/us.svg' %} " alt="" class="img-fluid wd-20" /></a>
              <div class="dropdown-menu dropdown-menu-end nxl-h-dropdown nxl-language-dropdown">
                <div class="dropdown-divider mt-0"></div>
                <div class="language-items-wrapper">
                  <div class="select-language px-4 py-2 hstack justify-content-between gap-4">
                    <div class="lh-lg">
                      <h6 class="mb-0">Select Language</h6>
                      <p class="fs-11 text-muted mb-0">12 languages avaiable!</p>
                    </div>
                  </div>
                  <div class="dropdown-divider"></div>
                  <div class="row px-4 pt-3">
                    <div class="col-sm-4 col-6 language_select">
                      <a href="javascript:void(0);" class="d-flex align-items-center gap-2">
                        <div class="avatar-image avatar-sm">
                          <img src="{% static "assets/vendors/img/flags/1x1/sa.svg" %} " alt="" class="img-fluid" />
                        </div>
                        <span>Arabic</span>
                      </a>
                    </div>
                    <div class="col-sm-4 col-6 language_select">
                      <a href="javascript:void(0);" class="d-flex align-items-center gap-2">
                        <div class="avatar-image avatar-sm">
                          <img src="{% static "assets/vendors/img/flags/1x1/bd.svg" %} " alt="" class="img-fluid" />
                        </div>
                        <span>Bengali</span>
                      </a>
                    </div>
                    <div class="col-sm-4 col-6 language_select">
                      <a href="javascript:void(0);" class="d-flex align-items-center gap-2">
                        <div class="avatar-image avatar-sm">
                          <img src="{% static "assets/vendors/img/flags/1x1/ch.svg" %} " alt="" class="img-fluid" />
                        </div>
                        <span>Chinese</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="nxl-h-item d-none d-sm-flex">
              <div class="full-screen-switcher">
                <a href="javascript:void(0);" class="nxl-head-link me-0" onclick="$('body').fullScreenHelper('toggle');">
                  <i class="feather-maximize maximize"></i>
                  <i class="feather-minimize minimize"></i>
                </a>
              </div>
            </div>
            <div class="nxl-h-item dark-light-theme">
              <a href="javascript:void(0);" class="nxl-head-link me-0 dark-button"><i class="feather-moon"></i></a>
              <a href="javascript:void(0);" class="nxl-head-link me-0 light-button" style="display: none"><i class="feather-sun"></i></a>
            </div>
            <div class="dropdown nxl-h-item">
              <a href="javascript:void(0);" class="nxl-head-link me-0" data-bs-toggle="dropdown" role="button" data-bs-auto-close="outside">
                <i class="feather-clock"></i>
                <span class="badge bg-success nxl-h-badge">2</span>
              </a>
              <div class="dropdown-menu dropdown-menu-end nxl-h-dropdown nxl-timesheets-menu">
                <div class="d-flex justify-content-between align-items-center timesheets-head">
                  <h6 class="fw-bold text-dark mb-0">Timesheets</h6>
                  <a href="javascript:void(0);" class="fs-11 text-success text-end ms-auto" data-bs-toggle="tooltip" title="Upcomming Timers">
                    <i class="feather-clock"></i>
                    <span>3 Upcomming</span>
                  </a>
                </div>
                <div class="d-flex justify-content-between align-items-center flex-column timesheets-body">
                  <i class="feather-clock fs-1 mb-4"></i>
                  <p class="text-muted">No started timers found yes!</p>
                  <a href="javascript:void(0);" class="btn btn-sm btn-primary">Started Timer</a>
                </div>
                <div class="text-center timesheets-footer">
                  <a href="javascript:void(0);" class="fs-13 fw-semibold text-dark">Alls Timesheets</a>
                </div>
              </div>
            </div>
            <div class="dropdown nxl-h-item">
              <a class="nxl-head-link me-3" data-bs-toggle="dropdown" href="#" role="button" data-bs-auto-close="outside">
                <i class="feather-bell"></i>
                <span class="badge bg-danger nxl-h-badge">{% if notifications_un %}{{notifications_count}}{% else %}0{% endif %}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-end nxl-h-dropdown nxl-notifications-menu">
                <div class="d-flex justify-content-between align-items-center notifications-head">
                  <h6 class="fw-bold text-dark mb-0">Notifications</h6>
                  <a href="javascript:void(0);" class="fs-11 text-success text-end ms-auto" data-bs-toggle="tooltip" title="Make as Read">
                    <i class="feather-check"></i>
                    <span>Make as Read</span>
                  </a>
                </div>
                {% if notifications_count %}
                {% for notification in notifications_un  %}
                <div class="notifications-item">
                  <img src=" {{notification.actor.profile.photo.url}}" alt="" class="rounded me-3 border" />
                  <div class="notifications-desc">
                    <a href="javascript:void(0);" class="font-body text-truncate-2-line"><span class="fw-semibold text-dark">Hey {{notification.recipient}}: </span> {{notification.verb|title|truncatechars:20}}!</a>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="notifications-date text-muted border-bottom border-bottom-dashed">{{notification.created_at|timesince}} ago</div>
                    </div>
                    <div class="d-flex align-items-center float-end gap-2">
                          <form action="{% url "notifications:notification_mark" notification.id %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="fs-11 text-danger text-end ms-auto border-0 bg-transparent" data-bs-toggle="tooltip" title="Make as Read">
                            <i class="feather-check"></i>
                            <span>Make as Read</span>
                          </button>
                          </form>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
                <div class="text-center notifications-footer">
                  <a href="{% url "notifications:notification_list" %}" class="fs-13 fw-semibold text-dark">Alls Notifications</a>
                </div>
              </div>
            </div>
            {% if request.user.is_authenticated %}
            <div class="dropdown nxl-h-item">
              <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button" data-bs-auto-close="outside"><img src="{{request.user.profile.get_profile_image}} " alt="user-image" class="img-fluid user-avtar me-0" /></a>
              <div class="dropdown-menu dropdown-menu-end nxl-h-dropdown nxl-user-dropdown">
                <div class="dropdown-header">
                  <div class="d-flex align-items-center">
                    <img src="{{request.user.profile.get_profile_image}}"  alt="user-image" class="img-fluid user-avtar" />
                    <div>
                      <h6 class="text-dark mb-0">{{request.user.username}}</h6>
                      <span class="fs-12 fw-medium text-muted">{{request.user.email}}</span>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0);" class="dropdown-item">
                  <i class="feather-user"></i>
                  <span>Profile Details</span>
                </a>
                <a href="javascript:void(0);" class="dropdown-item">
                  <i class="feather-activity"></i>
                  <span>Activity Feed</span>
                </a>
                <a href="javascript:void(0);" class="dropdown-item">
                  <i class="feather-dollar-sign"></i>
                  <span>Billing Details</span>
                </a>
                <a href="javascript:void(0);" class="dropdown-item">
                  <i class="feather-bell"></i>
                  <span>Notifications {% if notifications %} <span class="badge bg-soft-danger text-danger ms-1 rounded-circle">{{notifications.count}}{% else %}0</span> {% endif %}</span>
                </a>
                <a href="javascript:void(0);" class="dropdown-item">
                  <i class="feather-settings"></i>
                  <span>Account Settings</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{% url "accounts:logout" %}" class="dropdown-item">
                  <i class="feather-log-out"></i>
                  <span>Logout</span>
                </a>
              </div>
            </div>
            {% else %}
              <div class="dropdown nxl-h-item">
              <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button" data-bs-auto-close="outside">
                <img src="{% static 'assets/images/avatar/default_user.jpg' %}" alt="user-image" class="img-fluid user-avtar me-0 rounded-circle border" style="width: 30px;"/>
              </a>
              <div class="dropdown-menu dropdown-menu-end nxl-h-dropdown nxl-user-dropdown">
                
     
                <a href="./auth-login-minimal.html" class="dropdown-item">
                  <i class="feather-log-in"></i>
                  <span>Login</span>
                </a>
                <a href="./auth-login-minimal.html" class="dropdown-item">
                  <i class="feather-at-sign"></i>
                  <span>Register</span>
                </a>
              </div>
            </div>
          {% endif %}
          </div>
        </div>
        <!-- ! [End] Header Right ! -->
      </div>
    </header>
    <!-- ! ================================================================ ! -->
    <!-- ! [End] Header ! -->
    <!-- ! ================================================================ ! -->
    <!-- ! ================================================================ ! -->
    <!-- ! [Start] Main Content ! -->
    <!-- ! ================================================================ ! -->
    <main class="nxl-container">
      <div class="nxl-content">
        <!-- [ page-header ] start -->
        <div class="page-header">
          <div class="page-header-left d-flex align-items-center">
            <div class="page-header-title">
              <h5 class="m-b-10">
                Dashboard
              </h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
               {% block dash_link %} <a href="">Home</a>{% endblock dash_link %}
              </li>
              <li class="breadcrumb-item"> {% block dash_active %}Dashboard{% endblock dash_active %} </li>
            </ul>
          </div>
          <div class="page-header-right ms-auto">
            <div class="page-header-right-items">
              <div class="d-flex d-md-none">
                <a href="javascript:void(0)" class="page-header-right-close-toggle">
                  <i class="feather-arrow-left me-2"></i>
                  <span>Back</span>
                </a>
              </div>
              <div class="d-flex align-items-center gap-2 page-header-right-items-wrapper">
                <div id="reportrange" class="reportrange-picker d-flex align-items-center">
                  <span class="reportrange-picker-field"></span>
                </div>
                <div class="dropdown filter-dropdown">
                  <a class="btn btn-md btn-light-brand" data-bs-toggle="dropdown" data-bs-offset="0, 10" data-bs-auto-close="outside">
                    <i class="feather-filter me-2"></i>
                    <span>Filter</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <div class="dropdown-item">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="Role" checked="checked" />
                        <label class="custom-control-label c-pointer" for="Role">Role</label>
                      </div>
                    </div>
                    <div class="dropdown-item">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="Team" checked="checked" />
                        <label class="custom-control-label c-pointer" for="Team">Team</label>
                      </div>
                    </div>
                    <div class="dropdown-item">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="Email" checked="checked" />
                        <label class="custom-control-label c-pointer" for="Email">Email</label>
                      </div>
                    </div>
                    <div class="dropdown-item">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="Member" checked="checked" />
                        <label class="custom-control-label c-pointer" for="Member">Member</label>
                      </div>
                    </div>
                    <div class="dropdown-item">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="Recommendation" checked="checked" />
                        <label class="custom-control-label c-pointer" for="Recommendation">Recommendation</label>
                      </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a href="javascript:void(0);" class="dropdown-item">
                      <i class="feather-plus me-3"></i>
                      <span>Create New</span>
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item">
                      <i class="feather-filter me-3"></i>
                      <span>Manage Filter</span>
                    </a>
                  </div>
                </div>main_content
              </div>
            </div>
            <div class="d-md-none d-flex align-items-center">
              <a href="javascript:void(0)" class="page-header-right-open-toggle"><i class="feather-align-right fs-20"></i></a>
            </div>
          </div>
        </div>
        <!-- [ page-header ] end -->

        <!-- [ Main Content ] start -->

        <div class="main-content">
        {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible shadow fade show p-3 mx-auto mt-2"role="alert" style="width: 80%;">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}

          {% block main_content %}

          {% endblock %}
        </div>
        <!-- [ Main Content ] end -->
      </div>
      <!-- [ Footer ] start -->
      <footer class="footer">
        <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
          <span>Copyright ©</span>
          <script>
            document.write(new Date().getFullYear())
          </script>
        </p>
        <p>
          <span>By: <a target="_blank" href="https://wrapbootstrap.com/user/theme_ocean" target="_blank">theme_ocean</a></span> • <span>Distributed by: <a target="_blank" href="https://themewagon.com" target="_blank">ThemeWagon</a></span>
        </p>
        <div class="d-flex align-items-center gap-4">
          <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Help</a>
          <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Terms</a>
          <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Privacy</a>
        </div>
      </footer>
      <!-- [ Footer ] end -->
    </main>
    <!-- ! ================================================================ ! -->
    <!-- ! [End] Main Content ! -->
    <!-- ! ================================================================ ! -->
    <!-- ! ================================================================ ! -->
 
    <!-- ! ================================================================ ! -->
    <!-- ! Footer Script ! -->
    <!-- ! ================================================================ ! -->
    <!-- ! BEGIN: Vendors JS ! -->
    <script src="{% static 'assets/vendors/js/vendors.min.js' %} "></script>
    <!-- vendors.min.js {always must need to be top} -->
    <script src="{% static 'assets/vendors/js/daterangepicker.min.js' %} "></script>
    <script src="{% static 'assets/vendors/js/apexcharts.min.js' %} "></script>
    <script src="{% static 'assets/vendors/js/circle-progress.min.js' %} "></script>
    <!-- ! END: Vendors JS ! -->
    <!-- ! BEGIN: Apps Init ! -->
    <script src="{% static 'assets/js/common-init.min.js' %} "></script>
    <script src="{% static 'assets/js/dashboard-init.min.js' %} "></script>
    <!-- ! END: Apps Init ! -->
    <!-- ! BEGIN: Theme Customizer ! -->
    <script src="{% static 'assets/js/theme-customizer-init.min.js' %} "></script>
    <!-- ! END: Theme Customizer ! -->
  </body>
</html>
